html,body{
    height: 100%;
    margin:0px; padding: 0px;
}

header{
    width: 100%;
    height: 75px; /*75 px = header fixed height*/
    background-color: #080E07;
}

body{
    background-color: #191C18;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    max-height: 1500px; /*permite que el main quede pegado al header cuando se hace zoom-out*/
}

main{
    width: 100%;
    height: calc(100% - 75px); /*75 px = header fixed height*/

    background-color: #191C18;
    
    min-height: 500px; /*limita el tamaño minimo vertical, puede provocar que se pierda el margen de abajo cuando se activa*/
    max-height: 1500px; /*permite que el main quede pegado al header cuando se hace zoom-out*/
    
    max-width: 2000px; /*limita el tamaño maximo horizontal*/
}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    color: #E0F2E9;

    margin:0px;
    padding:0px;
}

/*estilos de secciones*/
section{
    height: 100%;
}

#seccion_lateral{
    width: 25%;
    float: left;
}

#seccion_contenido{
    width: 75%;
    float: right;
}

#seccion_grafica{
    width: 60%;
    height: 80%;
    float:left;
}

#seccion_nuevo{
    width: 40%;
    height: 60%;
    float:right;
}

#seccion_monto{
    width: 40%;
    height: 20%;
    float:right;
}

#seccion_tendencias{
    width: 100%;
    height: 20%;
    float:right;
}

/*estilos de cartas o paneles*/

.panel{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    
    margin-right: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);

}

#panel_lateral{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin-top: 10px;
    margin-left:10px;
}

#panel_grafica{
    height: calc(100% - 20px);
    margin-top: 10px;
}

#panel_nuevo{
    height: calc(100% - 20px);
    margin-top: 10px;
}

@media screen and (max-width: 900px){
    main{
        width: 900px;
        height: 1920px;
    }

    #seccion_lateral{
        width: 100%;
        height: 30%;
    }

    #seccion_contenido{
        width: 100%;
        height: 70%;
    }

    #seccion_grafica{
        width: 100%;
        height: 35%;
    }

    #seccion_nuevo{
        width: 100%;
        height: 30%;
    }

    #seccion_monto{
        width: 100%;
        height: 15%;
    }

    #seccion_tendencias{
        width: 100%;
        height: 20%;
    }
    
    #panel_grafica{
        height: calc(100% - 10px);
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-top:0px;
    }
    
    #panel_nuevo{
        height: calc(100% - 10px);
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-top:0px;
    }

    #panel_monto{
        height: calc(100% - 10px);
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-top:0px;
    }

    #panel_tendencias{
        height: calc(100% - 10px);
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-top:0px;
    }
}