* {
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.grid_header {
    grid-area: header;
    background-color: darkturquoise;

}

.grid_side_bar {

    grid-area: side_bar;
    background-color: yellow;

}

.grid_new {

    grid-area: new;
    background-color: orange;

}

.grid_amount {

    grid-area: amount;
    background-color:blue;

}

.grid_graph {

    grid-area: graph;
    background-color:green;
}

.grid_trends {

    grid-area: trends;
    background-color:red;
}

.grid_container{
    height: 100%;

    display:grid;
    grid-template-areas: 
    'header header header'
    'side_bar new amount'
    'side_bar graph trends'
    ;

    grid-template-rows: 0.1fr 0.4fr 0.5fr;
    grid-template-columns: 0.25fr 0.3fr 0.45fr;
    /*grid-template-rows: 10% 40% 50%;
    grid-template-columns: 25% 30% 45%;*/

    gap: 10px;

    background-color: #080E07;
    color: white;

    overflow: hidden;
}
