html{
  height: 100%;
}

body{
  height: 100%;
  margin:0px;
  
  background-color: #1F1F1F;
}

.wrapper{
  display:flex;
  justify-content: center;
  height: 100%;
  background-image: radial-gradient(
    #333333 9%,transparent 9%);
  background-position: 0% 0%;
  background-size: 6vmin 6vmin;
}

.container{
  display:flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
}

.chat{
  background-color: #1F1F1F;
  width: 100%;
  height: calc(90% - 1px);
  border: solid 1px #333333;
  border-bottom: 0px;
  overflow:scroll;
  scrollbar-width: none;
}

.input{
  background-color: #1F1F1F;
  width: 100%;
  height: 100%;
  height: calc(10% - 2px);
  border: solid 1px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton{
  background-color: #0E34A0;
  justify-content: center;
  display: flex;
  align-items: center;
  color:#DBE9EE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 40px;
  height: 40%;
  width: 5%;
  border:solid;
  border-width: 1px;
  border-color:#1741b3;
}

#enviar{
  background-color: #51A461;
  border-color:#6cb97b;
}

.boton:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
  background-color: #1741b3;
}

#entrada{
  max-height: 50%;
  width: 50%;
  margin: 10px;
  background-color: #1F1F1F;
  border:solid;
  border-width: 1px;
  border-color: #333333;
  border-radius: 50px;
  padding: 10px;
  color:#DBE9EE;
  font-size: 20px;
}

.bloque-enviado{
  float:right;
  width: 100%;
  min-height: 10%;
}

.mensaje-enviado{
  float:right;
  background-color: #0E34A0;
  color:#DBE9EE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 15px;
  margin:5px;
  border-radius: 20px;
  max-width: 70%;
}

.enviado-hora{
  float:right;
  font-family: Arial, Helvetica, sans-serif;
  color:#4F6D7A;
  text-align: right;
  margin:5px;
  font-size: 20px;
  width: 100%;
}

.bloque-recibido{
  float:left;
  width: 100%;
  min-height: 10%;
}

.mensaje-recibido{
  float:left;
  background-color: #51A461;
  color:#DBE9EE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 15px;
  margin:5px;
  border-radius: 20px;
  max-width: 70%;
}

.recibido-hora{
  float:left;
  font-family: Arial, Helvetica, sans-serif;
  color:#4F6D7A;
  margin:5px;
  font-size: 20px;
  width: 100%;
}