html{
  height: 100%;
}

body{
  background-color: #141429;
  height: 100%;
  margin:0px;
  display:flex;
  justify-content: center;
}

.container{
  display:flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
}

.chat{
  background-color: #1F1F1F;
  width: 100%;
  height: calc(90% - 1px);
  border: solid 1px #333333;
  border-bottom: 0px;
  overflow:scroll;
  scrollbar-width: none;
}

.input{
  background-color: #1F1F1F;
  width: 100%;
  height: calc(10% - 2px);
  border: solid 1px #333333;
}

.enviado{
  float:right;
  background-color: #0E34A0;
  width: 70%;
  height: 30%;
  border-radius: 10px;
  margin:5px;
}
.recibido{
  float:left;
  background-color: #51A461;
  width: 70%;
  height: 20%;
  border-radius: 10px;
  margin:5px;
}