body{
  background-color:#070600;
  width:1fr;
  height:1fr;
  display:flex;
  align-items:center;
  justify-content:center;
  
}

#header{
  background-color:blue;
  height:100vmin;
}

#div_monto{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100vmin;
  height:50vmin;
  background-color:#463DF5;
  border-radius:10px;
  color:#FFE3E3;
  font-family:helvetica;
  font-size:10vmin;
}

#div_monto:hover {
  cursor:pointer;
  background-color:#342AF4;
  transform: scale(1.05);
  transition-duration:0.4s;
}

#botones{
  height:50vmin;
}

#restar{
  cursor:pointer;
  display:flex;
  width:30vmin;
  height:20vmin;
  background-color:#B80028;
  border-radius:10px;
  align-items:center;
  justify-content:center;
  color:#FFE3E3;
  font-family:helvetica;
  font-size:10vmin;
  margin:5vmin;
}

#restar:hover{
  transform: scale(1.1);
  transition-duration:0.4s;
}

#sumar{
  display:flex;
  width:30vmin;
  height:20vmin;
  background-color:#7FB069;
  border-radius:10px;
  align-items:center;
  justify-content:center;
  color:#FFE3E3;
  font-family:helvetica;
  font-size:10vmin;
  margin:5vmin;
}

#sumar:hover{
  transform: scale(1.1);
  transition-duration:0.4s;
}

